html,
body,
header {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    position: relative;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    /*10 ÷ 16 × 100% = 62.5%*/
}

h1 {
    font-size: 2rem !important;
}

h2 {
    font-size: 1.8rem !important;
}

h3 {
    font-size: 1.5rem !important;
}

h4 {
    font-size: 1.3rem !important;
}

h5 {
    font-size: 1.2rem !important;
}

h6 {
    font-size: 1rem !important;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 1.7rem !important;
    }
    h2 {
        font-size: 1.5rem !important;
    }
    h3 {
        font-size: 1.3rem !important;
    }
    h4 {
        font-size: 1.2rem !important;
    }
    h5 {
        font-size: 1rem !important;
    }
    h6 {
        font-size: 1rem !important;
    }
}

a {
    color: #2d556d;
    transition: color 0.3s ease;
}

a:hover {
    color: #13252f;
}

a:link {
    text-decoration: none;
}

#footer{
    text-align: center;
    font-size: 0.8rem;
}

/* nav */

#header{
    position: fixed;
    top: 0;
    z-index: 1;
}

nav {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    width: 100%;
    display: block;
}

nav .nav {
    list-style: none;
    padding: 0px;
    margin: 5px;
    float: right;
}

nav .nav li {
    float: left;
    padding: 8px;
    margin: 0 5px;
    border-radius: 8px;
}

nav .nav li:hover {
    background-color: #c5c8c6;
}

nav .nav li a,
nav .nav li a:link {
    color: #292323;
    text-decoration: none;
}

nav .brand {
    color: #292323;
    text-decoration: none;
    float: left;
    font-size: 25px;
    margin: 0 20px;
    padding: 4px;
    line-height: 40px;
}

nav button {
    float: right;
    margin: 12px;
    padding: 4px 6px 7px;
    background-color: #868080;
    border: 1px solid #868080;
    border-radius: 2px;
    display: none;
}

@media (max-width: 979px) {
    nav button {
        display: block;
    }
    nav .nav li {
        display: block;
        float: none;
    }
    .nav {
        float: left;
    }
    nav .nav {
        margin: 0;
    }
    .dropdown .nav {
        margin: 0;
    }
    .nar-wrap {
        float: left;
        height: 0;
        overflow: hidden;
        -webkit-transition: height .35s ease;
        -moz-transition: height .35s ease;
        -o-transition: height .35s ease;
        transition: height .35s ease;
    }
}
/* common */

.clear:after {
    content: "";
    visibility: hidden;
    clear: both;
    display: block;
}

[class^=icon-] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url(../img/glyphicons-halflings.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
}

.icon-toggle {
    margin-top: 3px;
    display: block;
    width: 18px;
    height: 2px;
    background-color: #010101;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(230, 230, 230, .9);
    -moz-box-shadow: 0 1px 0 rgba(230, 230, 230, .9);
    box-shadow: 0 1px 0 rgba(230, 230, 230, .9);
}
/*index*/
#index {
    width: 70%;
    max-width: 710px;
    margin: 4rem auto;
}

#tags,
#categories,
#archive {
    width: 70%;
    margin: 4rem auto;
}
#post {
    width: 60%;
    margin: 4rem auto;
}

@media (max-width: 979px) {
    #tags,
    #categories,
    #post,
    #archive,
    #index {
        width: 90%;
    }
}

#post,
#index article {
    padding-bottom: 2rem;
    padding-top: 2.5rem;
    border-bottom: #EBF2F6 1px solid;
    position: relative;
}

#post {
    margin: 20px auto;
}

#index article header h3 {
    margin: 20px -5px;
}

#index article header h3 span{
    vertical-align: super;
    font-size: .5em;
    margin: 0 5px;
}

#index article section .read-more span {
    opacity: 0;
    transition: opacity .5s;
}

#index article section .read-more:hover span {
    opacity: 1;
}

#index article section .read-more {
    padding: 5px 15px;
    margin-top: 15px;
}

#index article section .read-more:hover {
    border: 1px solid #13252f;
    border-radius: 4px;
}

#index .article section {
    margin: 0;
    font-size: 0.9em;
    line-height: 1.7em;
}

.article section pre{
    font-size: .5rem;
}

#index article footer {
    display: block;
    margin: 1.75rem 0 0 0;
    font-size: 1.1rem;
    line-height: 1.3rem;
    color: #9EABB3;
}

#index article.article:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #E7EEF2 1px solid;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    background: #FFF;
    border-radius: 100%;
    box-shadow: #FFF 0 0 0 5px;
}

#index article footer a {
    color: #9EABB3;
}

#index article footer time {
    border-right: #d5dbde 1px solid;
    margin-right: 8px;
    padding-right: 12px;
}

.page-nav a,
.page-nav a:link{
    color: #a29e9e
}


.page-nav a:hover{
    color: #504d4d
}

.page-nav{
    list-style-type: none;
    position: relative;
    color: #504d4d;
    text-align: center;
    padding: 100px 0;
}

.page-nav .prev{
    float:left;
}

.page-nav .next{
    float:right;
}

.page-nav .page-number{
   display: inline-block;
   padding: 10px;
}

.page-nav .extend{
    padding: 10px 30px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    box-shadow: 0 0 5px;
}

.page-nav .extend:hover{
    box-shadow: 0 0 25px;
}

/* archive */
.archive {
    width: 80%;
    margin: 100px auto
}

@media (max-width: 979px) {
    .archive {
        width: 90%;
    }
}

.archive .post-archive {
    list-style-type: none;
}

.archive .post-archive li {
    padding: 10px;
    color: #504d4d;
}

/* categories && tags && archive*/

#archive header h2,
#tags header h2,
#categories header h2 {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    color: white;
}

#tags header,
#archive header,
#categories header{
    background-color: #504d4d;
    box-shadow: 0 0 5px #504d4d;
    padding: 20px 0;
    border-radius: 10px 10px 0 0;
}

#archive #content .widget ul li ,
#tags #content .widget ul li ,
#categories #content .widget ul li {
    display: inline-block;
    padding: 8px 20px;
    margin: 10px 0;
    border: 1px solid #d5dbde;
    border-radius: 4px;
    margin-right: 10px;
}

#tags #content .widget ul,
#archive #content .widget ul,
#categories #content .widget ul{
    border-bottom: 1px solid #d5dbde;
    padding: 20px;
    list-style-type: none;
}

#tags #content .widget ul span,
#categories #content .widget ul span{
    vertical-align: super;
    font-size: .8em;
}

#tags #content,
#archive #content,
#categories #content {
    color: #504d4d;
    padding: 40px 70px;
    box-shadow: 0 0 5px #504d4d;
    border-radius: 0 0 10px 10px;
}

@media (max-width: 979px) {
    #tags #content,
    #archive #content,
    #categories #content {
        padding: 10px;
    }
}

/* post */

#post header h3{
    text-align: center;
    font-size: 2.5rem !important;
}

#post header a{
    font-size: .5rem;
    vertical-align: super;
}

#post .decorate {
    color: #a29e9e;
    text-align: right;
}

#post .decorate a{
    color: #a29e9e;
}

/* sidebar */
body {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

@media (min-width: 979px) {
    body.open-side{
        padding-right: 300px;
    }
}

.btn-gp{
    text-align: center;
    position: fixed;
    right: 1.5rem;
    bottom: 3.2rem;
    z-index: 20;
    width: 20px;
}

#to-top{
    animation: fadeInFormBottom .5s;
    display: none;
    bottom: 2rem;
}

@keyframes fadeInFormBottom {
    from {bottom: -2rem;}
    to {bottom: 2rem;}
}

.sidebar{
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 10;
    overflow-y: auto;
    padding: 1rem 0 2rem .5rem;
    width: 300px;
    height: 100%;
    background: #f6f8fa;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.sidebar.active{
    transform: translateX(-300px);
    -webkit-box-shadow: 0.25rem 0 0.25rem rgba(232,237,250,.6) inset;
    box-shadow:  0.25rem 0 0.25rem rgba(232,237,250,.6) inset;
}

@media (min-width: 979px) {
    .open-side #header{
        transform: translateX(-300px);
    }
    
}

#header {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.sidebar-inner {
    position: relative;
    padding: 20px;
    color: #999;
    text-align: center;
}

.sidebar-inner .site-author-name{
    font-weight: bold;
}

.sidebar .sidebar-inner .site-author-image{
    width: 40%;
}

.sidebar .sidebar-inner .site-state {
    margin-top: 20px;
}

.sidebar .sidebar-inner .site-state .site-state-item{
    display: inline-block;
    padding: 10px;
}

.sidebar .sidebar-inner .site-state .site-state-item a span{
    display: block;
}

.sidebar .sidebar-inner .site-state .site-state-item.site-state-categories {
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
}

.sidebar .sidebar-inner .site-state .site-state-item .site-state-item-count {
    font-weight: bold;
}

.sidebar .sidebar-inner .site-state .site-state-item a {
    color: #999;
    font-size: .8rem;
}

.sidebar .sidebar-inner .site-state .site-state-item a:hover {
    color: #292323;
}

.sidebar .sidebar-inner .social-contact ul{
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
}

.sidebar .sidebar-inner .social-contact li{
    display: inline-block;
    width: 26%;
    padding: 10px 0;
}